@use 'colors'
@import url('https://fonts.googleapis.com/css?family=Caveat|Sen&display=swap')

$mar: .5rem
$pad: .5rem

=flexbox()
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex

:root
    font-size: 18px


html
    background: url('../static/images/desert_01.jpg') no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover


body
    font-family: 'Sen', sans-serif
    padding: 0 3rem 0 3rem


a
    color: colors.$two
    text-decoration: none
    font-weight: bold

.header
    +flexbox()
    flex-direction: row
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    .language-btn
        background-color: colors.$two
        color: colors.$pale
        padding: .5rem
        margin: .5rem
        font-size: 1.5rem
        border-radius: .5rem
        box-shadow: .1rem .2rem .3rem #000000bb
    .circle
        +flexbox()
        z-index: 10
        border-radius: 50%
        background-color: colors.$four
        height: 11rem
        width: 11rem
        justify-content: center
        align-items: center
        box-shadow: .2rem .2rem .3rem #00000055
        .name  
            font-family: 'Caveat', cursive
            color: colors.$pale
            font-size: 2.5rem
            text-align: center
    .personal-info
        box-shadow: .2rem .2rem .3rem #000000bb
        background-color: colors.$two
        color: colors.$pale
        padding: 1rem
        margin: 1rem
        a
            font-weight: bold
            color: colors.$four
        
.c-quadrants
    display: grid
    grid-template-columns: 66% 33%


.title
    $vertical_padding: .4rem
    background-color: colors.$three
    color: colors.$pale
    padding-left: 1rem
    font-size: 2.2rem
    padding-top: $vertical_padding
    padding-bottom: $vertical_padding

=content()
    margin: .2rem
    padding: $pad $pad $pad $pad 
    overflow-wrap: break-word
    text-align: justify
    

.experiences
    +content()
    .experience
        margin: .5rem 0 .5rem 0
        background-color: colors.$pale-a
        padding: 1rem
        .company
            padding-left: 1rem
            padding-right: 1rem
            font-size: 1.6rem
        .position
            font-weight: bold
            padding-left: 1rem
            padding-right: 1rem
            font-size: 1.3rem
        .parragraph
            text-align: justify
            padding-left: 2rem
            padding-right: 1rem
        .technologies
            +flexbox()
            flex-direction: row
            flex-wrap: wrap
            align-items: center
            justify-content: center
            .tech
                margin: 0px
               
           
.skills
    +content()
    .technologies
        +flexbox()
        justify-content: center
        align-items: center
        flex-wrap: wrap
        .technology
            +flexbox()
            font-size: 1.2rem
            font-weight: bold
            margin: .2rem
            padding: $pad $pad $pad $pad 
            background-color: colors.$pale-a 
            justify-content: center
            align-items: center
            flex-wrap: wrap
            .framework
                flex-direction: row
                font-size: .8rem
                font-weight: normal
                padding-left: .2rem
            

.education
    +content()
    .courses
        .course
            .title
                margin: .5rem 0 .5rem 0
                background: colors.$pale-a
                color: colors.$four
                font-size: 1.2rem
                .link
                    font-size: 1rem
                .academy
                    font-size: 1rem
                .location
                    font-size: 1rem
            
.code_samples
    +content()
    .codes
        .code
            padding: 1rem
            background-color: colors.$pale-a
            margin: .5rem 0 .5rem 0
            .link
                margin: 0px
            .description
                margin: 0px


.icons
    display: grid 
    grid-template-columns: 25% 25% 25% 25%
    justify-items: center
    align-items: center
    .icon
        max-width: 5rem
        max_height: 5rem
        min-height: 3rem
        min-height: 3rem