@use 'colors'
@import url('https://fonts.googleapis.com/css?family=Caveat|Sen&display=swap')

$mar: .5rem
$pad: .5rem

=flexbox()
    display: -webkit-box
    display: -moz-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex

:root
    font-size: 18px


html
    background: url('../static/images/desert_01.jpg') no-repeat center center fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover


body
    font-family: 'Sen', sans-serif
    padding: 0 3rem 0 3rem

.c-name
    +flexbox()
    flex-direction: row
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    .language-btn
        background-color: colors.$two
        color: colors.$pale
        padding: .5rem
        margin: .5rem
        font-size: 1.5rem
        border-radius: .5rem
        box-shadow: .1rem .2rem .3rem #000000bb
    .circle
        +flexbox()
        z-index: 10
        border-radius: 50%
        background-color: colors.$four
        height: 12rem
        width: 12rem
        justify-content: center
        align-items: center
        .name  
            font-family: 'Caveat', cursive
            color: colors.$pale
            font-size: 2.5rem
            text-align: center
        
        

.c-quadrants
    display: grid
    grid-template-columns: 66% 33%
    flex-wrap: wrap
    width: 100%
    height: 100%
    .content 
        margin: $mar

.title
    $vertical_padding: .4rem
    background-color: colors.$three
    color: colors.$pale
    padding-left: 1rem
    font-size: 2.2rem
    padding-top: $vertical_padding
    padding-bottom: $vertical_padding

.company
    padding-left: 1rem
    padding-right: 1rem
    font-size: 1.6rem

.position
    font-weight: bold
    padding-left: 1rem
    padding-right: 1rem
    font-size: 1.3rem

.parragraph
    text-align: justify
    padding-left: 2rem
    padding-right: 1rem


.place
    margin-top: $mar
    margin-bottom: $mar
    padding: $pad $pad $pad $pad 
    background-color: colors.$pale-a 


.technology
    font-size: 1.2rem
    font-weight: bold
    margin-top: $mar
    margin-bottom: $mar
    padding: $pad $pad $pad $pad 
    background-color: colors.$pale-a 
    .framework
        font-size: 1rem
        font-weight: normal
        padding-left: 2rem
            

.horizontal-list
    +flexbox()
    flex-wrap: wrap
    justify-content: center
    $horizontal-padding: 3rem
    padding-top: .5rem
    padding-bottom: .5rem
    padding-left: $horizontal-padding
    padding-right: $horizontal-padding

a
    color: colors.$two
    text-decoration: none


.icon
    max-width: 5rem
    max_height: 5rem
    min-height: 3rem
    min-height: 3rem